#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        "web",
        "cmd",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
    ],
    max_window_width: None,
    layouts: [
        MainAndVertStack,
        GridHorizontal,
        Monocle,
    ],
    layout_mode: Tag,
    insert_behavior: Bottom,
    scratchpad: [
        (
            name: "Task Manager", value: "kitty -e btop --preset 1",
            x: 50, y: 50, width: 800, height: 600, 
        ),
        (
            name: "Mixer", value: "kitty -e pulsemixer",
            x: 50, y: 50, width: 800, height: 600, 
        ),
    ],
    window_rules: [
      ( window_class: "firefox", spawn_on_tag: 1 ),
      ( window_class: "KeePassXC", spawn_on_tag: 9 ),
      ( window_class: "Lxpolkit", spawn_floating: true ),
      ( window_class: "Galculator", spawn_floating: true ),
      ( window_class: "VeraCrypt", spawn_floating: true ),
      ( window_class: "PeaZip", spawn_floating: true ),
      ( window_class: "winecfg.exe", spawn_floating: true ),
      ( window_title: "Web Inspector", spawn_floating: true ),
    ],

    disable_current_tag_swap: true,
    disable_window_snap: true,
    focus_behaviour: ClickTo,
    focus_new_windows: true,

    keybind: [
        (command: Execute, value: "dmenu_run", modifier: ["modkey"], key: "p"),
        (command: Execute, value: "kitty", modifier: ["modkey"], key: "Return"),

        (command: Execute, value: "pactl set-sink-volume @DEFAULT_SINK@ +1%",
                           modifier: ["modkey"], key: "equal"),
        (command: Execute, value: "pactl set-sink-volume @DEFAULT_SINK@ -1%",
                           modifier: ["modkey"], key: "minus"),
        (command: Execute, value: "pactl set-sink-mute @DEFAULT_SINK@ toggle",
                           modifier: ["modkey"], key: "m"),

        (command: CloseWindow, value: "", modifier: ["modkey", "Shift"], key: "q"),

        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "k"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "j"),

        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "k"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "j"),

        (command: IncreaseMainWidth, value: "2", modifier: ["modkey"], key: "l"),
        (command: DecreaseMainWidth, value: "2", modifier: ["modkey"], key: "h"),

        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "k"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "j"),

        (command: ToggleScratchPad, value: "Task Manager", modifier: ["modkey"], key: "Escape"),
        (command: ToggleScratchPad, value: "Mixer", modifier: ["modkey", "Shift"], key: "m"),

        (command: ToggleFullScreen, modifier: ["modkey"], key: "f"),
        (command: ToggleFloating, modifier: ["modkey", "Control"], key: "f"),

        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),

        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),

        (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
        (command: Execute, value: "polybar-msg cmd toggle", modifier: ["modkey", "Shift"], key: "p"),
    ],
    state_path: None,
)
